<!doctype html>
<html>
<head>
    <title>SOCIAL ADO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
  <!-- <div class="canva-embed" data-height-ratio="0.5625" data-design-id="DACu_oeQkCw" style="padding:56.25% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script><a href="https://www.canva.com/design/DACu_oeQkCw/view?utm_content=DACu_oeQkCw&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Social Ado</a> by <a href="https://www.canva.com/navdeepddn.97?utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Navdeep Singh</a> -->
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Social ADO</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
